@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap");

:root {
  --mod-violet: hsl(263, 55%, 52%);
  --dark-grayish-blue: hsl(217, 19%, 35%);
  --dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

/* main {
  
} */

.container {
  /* outline: 1px solid black; */
  max-width: 88%;
  margin: 0 auto;
  padding: 4rem 0;
}

.review {
  padding: 2rem;
  color: var(--white);
  border-radius: 0.4rem;
  margin-bottom: 1.5rem;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.review-1 {
  background-color: var(--mod-violet);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top 5% right 10%;
}

.daniel-img {
  border: 3px solid rgb(139, 90, 218);
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.img-div {
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
}

.profile-img {
  width: 70%;
  border-radius: 50%;
}

.name {
  font-size: 1rem;
  color: var(--light-gray);
}

.title {
  font-size: 0.8125rem;
  color: hsla(0, 0%, 81%, 50%);
}

.feedback {
  font-size: 1.29rem;
  margin-bottom: 1rem;
}

.description {
  color: hsla(0, 0%, 81%, 70%);
}

.review-2 {
  background-color: var(--dark-grayish-blue);
}

.review-2 .name {
  color: var(--white);
}

.review-2 .title {
  color: hsla(0, 0%, 100%, 50%);
}

.review-2 .description {
  color: hsla(0, 0%, 100%, 70%);
}

.review-3 .name,
.review-3 .feedback {
  color: var(--dark-grayish-blue);
}

.review-3 .title {
  color: hsla(217, 19%, 35%, 50%);
}

.review-3 .description {
  color: hsla(217, 19%, 35%, 70%);
}

.review-4 {
  background-color: var(--dark-blackish-blue);
}

.patrick-img {
  border: 3px solid rgb(139, 90, 218);
}

.review-4 .name {
  color: var(--white);
}

.review-4 .title {
  color: hsla(0, 0%, 100%, 50%);
}

.review-4 .description {
  color: hsla(0, 0%, 100%, 70%);
}

.review-5 .name,
.review-5 .feedback {
  color: var(--dark-grayish-blue);
}

.review-5 .title {
  color: hsla(217, 19%, 35%, 50%);
}

.review-5 .description {
  color: hsla(217, 19%, 35%, 70%);
}
